.page-masthead {
    height: 40vh;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  
    h1 {
      font-size: 3rem;
      color: #333;
      text-align: center;
    }
  }

  
  .content-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
    margin-right: 300px; // Make space for floating TOC
  }