:root {
  // Font families
  --font-primary: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  
  // Font sizes
  --text-xs: 12px;
  --text-sm: 13px;
  --text-base: 14px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  
  // Font weights
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  
  // Line heights
  --leading-none: 100%;
  --leading-tight: 125%;
  --leading-normal: 150%;
  --leading-relaxed: 175%;

  // Headline sizes
  --headline-h1: 2.25rem; // 36px
  --headline-h2: 1.875rem; // 30px
  --headline-h3: 1.5rem;   // 24px
  --headline-h4: 1.25rem;  // 20px
  --headline-h5: 1.125rem; // 18px
  --headline-h6: 1rem;     // 16px

  // Paragraph
  --paragraph-line-height: var(--leading-normal);
  --paragraph-font-size: var(--text-base);
}

// Additional styles for headlines and paragraphs
h1 {
  font-size: var(--headline-h1);
  line-height: var(--leading-normal);
  margin-top: 24px;
}

h2 {
  font-size: var(--headline-h2);
  line-height: var(--leading-normal);
  margin-top: 20px;
}

h3 {
  font-size: var(--headline-h3);
  line-height: var(--leading-normal);
  margin-top: 16px;
}

h4 {
  font-size: var(--headline-h4);
  line-height: var(--leading-normal);
  margin-top: 12px;
}

h5 {
  font-size: var(--headline-h5);
  line-height: var(--leading-normal);
  margin-top: 8px;
}

h6 {
  font-size: var(--headline-h6);
  line-height: var(--leading-normal);
  margin-top: 4px;
}

p {
  font-size: var(--paragraph-font-size);
  line-height: var(--paragraph-line-height);
} 

small {
  font-size: var(--text-sm);
}

// Links
a {
  color: var(--accent-primary);
  text-decoration: none;
  
  &:hover {
    color: var(--accent-hover);
  }
}

// Additional styles for lists
ul {
  padding-left: 1.5rem; // Adjust padding to move the list to the right
  padding-top: 6px;
  
  li {
    margin-bottom: 5px;
    line-height: var(--paragraph-line-height); // Use a variable for line height

    // Adding link styles for list items
    a {
      color: var(--accent-primary); // Use the primary accent color
      text-decoration: none;

      &:hover {
        color: var(--accent-hover); // Use the hover accent color
      }
    }
  }
}

ol {
  padding-left: 1.5rem; // Ensure ordered lists have the same padding
}